---
import { sanityClient } from 'sanity:client';

import type { Author, Post } from 'sanity.types';
import Layout from '../component/Layout.astro';
import PortableText from '../component/PortableText.astro';

const authorFetch = sanityClient.fetch<Author>(
  `*[_type == "author" && slug.current == "simjes"][0]{ name, bio[0], image }`,
);

const postsFetch = sanityClient.fetch<Post[]>(
  `*[_type == "post" && publishedAt <= $now] | order(publishedAt desc) { _id, title, slug, publishedAt }`,
  { now: new Date().toISOString() },
);

const [author, posts] = await Promise.all([authorFetch, postsFetch]);
---

<Layout title='main page'>
  <section>
    <h1>{author.name}</h1>
    <PortableText portableText={author.bio} />
    <ol class='mt-2 space-y-2'>
      {
        posts.map((post) => {
          // TODO: must be a better way to filter this
          if (!post.publishedAt || !post.slug) {
            return '';
          }

          const date = new Date(post.publishedAt).toLocaleDateString('en-US', {
            dateStyle: 'long',
          });
          return (
            <li class='space-x-1'>
              <a
                class='underline decoration-cyan-500 decoration-2 transition duration-300 ease-in-out hover:text-fuchsia-500 dark:text-white dark:hover:text-fuchsia-500'
                href={`blog/${post.slug.current}`}
              >
                {post.title}
              </a>{' '}
              <span class='text-sm'>{date}</span>
            </li>
          );
        })
      }
    </ol>
  </section>
</Layout>
